/test
*.iml
target
cwp-cli-1.2.jar
custom-war-packager-cli/tmp
demo/jenkinsfile-runner/.build
demo/jenkinsfile-runner/tmp
tmp
jenkinsfile-runner-tests/.testing
*.log
.idea
jenkinsfile-runner-tests/.jenkinsfile-runner-test-framework/
jenkinsfile-runner-tests/cwp.jar
